.carousel img{
  width:100%;
  height:100%;
}

.information{
  margin-top: 3em;
  margin-bottom: 1em;
}

.pics{
  margin-left:2em;
  margin-right:2em;
}

.card{
  margin-top: 2em;
}
